apiVersion: composition.krateo.io/v1-0-0
kind: GithubScaffolding
metadata:
  name: gh-scaffolding-composition-1
  namespace: ghscaffolding-system
spec:
  argocd:
    namespace: krateo-system
    application:
      project: default
      source:
        path: chart/
      destination:
        server: https://kubernetes.default.svc
        namespace: fireworks-app
      syncEnabled: true
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
  app:
    service:
      type: NodePort
      port: 31180
  git:
    unsupportedCapabilities: true
    insecure: true
    fromRepo:
      scmUrl: https://github.com
      org: krateoplatformops-blueprints # you could change here, but it is not necessary. This is the source repository organization
      name: github-scaffolding # you could also change here, but it is not necessary. This is the source repository name
      branch: main
      path: skeleton-backend/ # you could change here, but it is not necessary. This is the path within the source repository
      credentials:
        authMethod: generic
        secretRef:
          namespace: krateo-system
          name: github-repo-creds
          key: token
    toRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test # change here. This will be the organization of the created repository
      name: githubscaffolding-test-v2-1 # change here. This will be the name of the created repository
      branch: main
      path: /
      credentials:
        authMethod: generic
        secretRef:
          namespace: krateo-system
          name: github-repo-creds
          key: token
      private: false
      initialize: true
      deletionPolicy: Delete
      verbose: false
      configurationRef:
        name: repo-config
        namespace: demo-system